@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400&display=swap');
:root {
  --white: #fcfcfc;
  --black: #111111;
  --light-blue: #2775b1;
  --dark-blue: #1b4b6f;
  --light-navy: #213645;
  --dark-navy: #071521;
  --light-red: #c33c49;
  --dark-red: #611d26;
  --gradient-blue: linear-gradient(90deg, var(--light-blue), var(--dark-blue) 100%);
  --gradient-navy: linear-gradient(90deg, var(--light-navy), var(--dark-navy) 100%);
  --gradient-red: linear-gradient(90deg, var(--light-red), var(--dark-red) 100%);
}

body {
  margin: 0;
  font-family: Verdana,Geneva,sans-serif;
  background-color: var(--light-blue);
  background-image: var(--gradient-blue);
  color: var(--white);
  text-shadow: 0.05em 0.05em 0px var(--black);
}
a { 
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.8);
}
a:hover {
  color: var(--dark-navy);
  border-color: var(--dark-navy);
}
h1, h2, h3, .title, label, button {
  font-family: 'Teko';
  line-height: 1.2;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}
header {
  padding: 4px 16px;
  font-size: 24px;
  background-image: var(--gradient-navy);
  color: var(--white);
  border-bottom: 4px solid var(--dark-navy);
}
  .title, .title:hover {
    border: none;
    color: inherit;
  }
#search-input {
  float: right;
  font-size: 90%;
}
#search-input .icon {
  position: relative;
  z-index: 1;
  pointer-events: none;
  margin-left: -32px;
  font-size: 16px;
}
#search-input input[type="text"], #search-input button {
  font-size: 18px;
  border: 2px solid var(--dark-blue);
  border-radius: 4px;
}
#search-input input[type="text"] {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2px 4px;
  width: 160px;
}
#search-input input[type="text"]:focus {
  background-color: var(--white);
}
#search-input button {
  font-size: 20px;
  border: 2px solid var(--dark-blue);
  border-radius: 4px;
  background-color: var(--light-blue);
  color: var(--white);
  padding: 3px 8px 0px 4px;
}
#search-input button:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}
#search-input label {
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  .title {
    text-align: center;
    display: block;
  }
  #search-input {
    float: none;
    text-align: center;
  }
}
h2 {
  background-image: var(--gradient-red);
  font-size: 48px;
  padding: 10px 16px 6px;
  text-align: center;
  border-bottom: 4px solid var(--dark-red);
}
h3 {
  text-align: center;
  padding: 8px;
  font-size: 32px;
}
.results {
  padding: 0 24px 0 48px;
}
.token {
  background-color: var(--dark-red);
  border: 2px dashed var(--dark-navy);
  border-radius: 8px;
  padding: 0 18px 0 8px;
  line-height: 1.3;
  display: inline-block;
}
ul {
  list-style: square;
  line-height: 1.5;
}
.smol {
  font-size: 80%;
  opacity: 0.8;
  font-style: italic;
  vertical-align: text-bottom;
}
.smol:before { content: '('; }
.smol:after { content: ')'; }
.meta {
  background-image: var(--gradient-navy);
  margin: 0;
  padding: 8px;
  text-align: center;
  border-bottom: 4px solid var(--dark-navy);
  font-size: 80%;
}
.meta dt {
  display: inline-block;
  width: 25%;
  text-align: right;
  opacity: 0.8;
  vertical-align: top;
}
.meta dd {
  display: inline-block;
  width: calc(75% - 12px);
  margin: 0;
  padding-left: 12px;
  text-align: left;
}
.references {
  display: flex;
  border-bottom: 4px solid var(--dark-blue);
}
.references > div {
  flex: 1;
  border-right: 4px solid var(--dark-blue);
}
@media screen and (max-width: 700px) {
  .references {
    flex-direction: column;
  }
  .references > div:first-child {
    border-bottom: 4px solid var(--dark-blue);
  }
}
.modlist {
  margin: 0 0 16px;
}
.backtrace-container {
  background-image: var(--gradient-red);
  padding: 0px 12px 20px;
  border-bottom: 4px solid var(--dark-red);
}
.signal-info {
  margin: 4px;
  text-align: center;
  font-size: 90%;
}
.backtrace {
  background-color: var(--dark-navy);
  color: var(--white);
  overflow: auto;
  border-radius: 4px;
  margin: 0 16px;
  border: 4px solid var(--light-navy);
  white-space: pre;
  font-family: monospace;
  padding: 4px 0;
}
.backtrace a {
  padding: 0 8px;
  border: none;
  display: block;
}
.backtrace a:hover, .backtrace a.selected {
  color: inherit;
  background-color: var(--light-blue);
}
.backtrace a:active, .backtrace a:focus {
  outline: none;
}
