<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/2.0.2/timeago.min.js"></script>
    <script src="/magic.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="title">{{title}}</a>
      <form id="search-input">
        <input type="text" name="name" placeholder="libname">
        <span class="icon">🔎</span>
        <label><input type="radio" name="type" value="libs">Memory</label>
        <label><input type="radio" name="type" value="backtraces" checked>Backtraces</label>
        <button>Search</button>
      </form>
    </header>
    {{page}}
    <footer>{{urgentMessage}}</footer>
  </body>
</html>
